@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
  font-family: 'Garnet';
  src: url('../src/fonts/GarnetScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
}

.navbartop {
  margin-top: 130px !important;
}

h1,
h2,
h3 {
  font-family: 'Garnet';
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 63px;
}

h4 {
  font-size: 16px !important;
}

.testimonial {
  margin-top: 100px;
}

.join_us {
  background-image: url(./assets/join_us/join_us.jpg);
  background-size: cover;
  width: 900px;
  height: 400px !important;
}

@media only screen and (max-width: 600px) {
  .join_us {
    background-image: url(./assets/join_us/join_us.jpg);
    width: 370px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
  .join_us {
    background-image: url(./assets/join_us/join_us.jpg);
    width: 750px;  
  }
}


.btn {
  font-size: 12px !important;
}

.nav-link {
  border: 0 !important;
  color: black !important;
}

.nav-link:hover {
  color: grey !important;
}

.map {
  filter: grayscale(100%);         
}
